<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 16px;">
            <!-- <app-shipping-details></app-shipping-details> -->
            <button type="button" mat-stroked-button color="primary" routerLink='/shipping-list'>Shipping Details </button>
            <h3>Cart items</h3>
            <div class="cart-item" *ngFor="let product of items" style="margin: 8px;">
                <!-- <button type="button" mat-raised-button color='grey'> -->
                <span>{{ product?.name }}</span>
                <span>{{ product?.price | currency }}</span>
                <!-- </button> -->
            </div>
            <div style="margin-top: 16px;">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                    <div>
                        <label for="name">
                          Name
                        </label>
                        <input id="name" class="form-control" type="text" formControlName="name">
                    </div>

                    <div>
                        <label for="address">
                          Address
                        </label>
                        <input id="address" class="form-control" type="text" formControlName="address">
                    </div>

                    <button class="button" type="submit" mat-raised-button color='primary' style="margin-top: 8px;">Purchase</button>
                </form>
            </div>
        </div>
    </div>
</div>