<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">


        </div>
    </div>
</div> -->

<div class="d-flex" style="padding: 12px;background-color: blue;">
    <div class="flex-grow-1">
        <h3 style="float:left;color: white;cursor: pointer;">
            <span routerLink="/">
            My Store
          </span>
        </h3>
    </div>
    <button style="float: right;" type="button" mat-raised-button [routerLink]="['/cart']"><a >Checkout</a></button>
</div>