<div class="container" style="position:fixed;
top: 50%;
left: 50%;
width:30em;
height:18em;
padding: 16px;
margin-top: -9em; /*set to a negative number 1/2 of your height*/
margin-left: -15em; /*set to a negative number 1/2 of your width*/
border: 1px solid #ccc;
background-color: #f3f3f3;">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <label for="u_name">UserName </label>
            <input type="text" name="u_name" placeholder="UserName" class="form-control">
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <label for="u_password">Password </label>
            <input type="password" name="u_password" placeholder="Password" class="form-control">
            <div>
                <a href="#" style="float: left;">Sign Up</a>
                <a href="#" style="float: right;">Forgot Password</a>
            </div>
        </div>
    </div>

    <p></p>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <button type="button" class="float-right" mat-raised-button color='primary'>LogIn</button>
        </div>
    </div>
</div>